<mat-card>
  <form #personForm="ngForm" (ngSubmit)="save(personForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{person.name ? 'Edit' : 'Add'}} Person</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="hidden" name="href" [(ngModel)]="car.href">
      <mat-form-field>
        <input matInput placeholder="Person Name" [(ngModel)]="person.name"
               required name="name" #name>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!personForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(person.href)"
              *ngIf="person.href" type="button">Delete</button>
      <a mat-button routerLink="/person-list">Cancel</a>
    </mat-card-actions>
    <mat-card-footer>
      <div class="giphy">
        <img src="{{person.giphyUrl}}" alt="{{person.name}}">
      </div>
    </mat-card-footer>
  </form>
</mat-card>
